@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a asp-controller="Products" class="btn btn-dark">Products</a>
    <a asp-controller="Inventories" class="btn btn-light">Inventory</a>
    <a asp-controller="Purchases" class="btn btn-dark">Purchases</a>
    <a asp-controller="Sales" class="btn btn-light">Sales</a>
</div>
